In [2]:
import numpy as np
import pandas as pd

# Series

In [3]:
myDictionary = {"Batu" : 20, "Elif" : 19, "Mehmet" : 21, "Ayse" : 22, "Fatma" : 23}

In [5]:
pd.Series(myDictionary)

Batu      20
Elif      19
Mehmet    21
Ayse      22
Fatma     23
dtype: int64

In [6]:
myAges = [20, 19, 21, 22, 23]
myNames = ["Batu", "Elif", "Mehmet", "Ayse", "Fatma"]

In [7]:
pd.Series(myAges)

0    20
1    19
2    21
3    22
4    23
dtype: int64

In [8]:
pd.Series(myAges, myNames)

Batu      20
Elif      19
Mehmet    21
Ayse      22
Fatma     23
dtype: int64

In [9]:
pd.Series(data = myAges, index = myNames)

Batu      20
Elif      19
Mehmet    21
Ayse      22
Fatma     23
dtype: int64

In [11]:
myNumpyArray = np.array([20, 19, 21, 22, 23])

In [14]:
myNumpyArray

array([20, 19, 21, 22, 23])

In [15]:
pd.Series(myNumpyArray)

0    20
1    19
2    21
3    22
4    23
dtype: int64

In [16]:
pd.Series(myNumpyArray, myNames)

Batu      20
Elif      19
Mehmet    21
Ayse      22
Fatma     23
dtype: int64

In [17]:
pd.Series(["Batu", "Elif", "Mehmet", "Ayse", "Fatma"], [1, 2 ,3, 4, 5])

1      Batu
2      Elif
3    Mehmet
4      Ayse
5     Fatma
dtype: object

In [18]:
competitionResult1 = pd.Series([10, 20, 30, 40], ["Batu", "Elif", "Mehmet", "Ayse"])

In [19]:
competitionResult1

Batu      10
Elif      20
Mehmet    30
Ayse      40
dtype: int64

In [20]:
competitionResult2 = pd.Series([90, 100, 10, 35], ["Batu", "Elif", "Mehmet", "Ayse"])

In [21]:
competitionResult2

Batu       90
Elif      100
Mehmet     10
Ayse       35
dtype: int64

In [22]:
totalResult = competitionResult1 + competitionResult2

In [23]:
totalResult

Batu      100
Elif      120
Mehmet     40
Ayse       75
dtype: int64

In [25]:
differentSeries1 = pd.Series([20, 30, 40, 50], ["a", "b", "c", "d"])

In [27]:
differentSeries2 = pd.Series([10, 5, 3, 1], ["a", "b", "f", "g"])

In [28]:
differentSeries1

a    20
b    30
c    40
d    50
dtype: int64

In [30]:
differentSeries2

a    10
b     5
f     3
g     1
dtype: int64

In [31]:
differentSeries1 + differentSeries2

a    30.0
b    35.0
c     NaN
d     NaN
f     NaN
g     NaN
dtype: float64